
@{
    ViewData["Title"] = "Add New Payment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model SchoolRecognition.Models.SchoolPaymentViewModel




<div  >
    <div class="col-md-12 py-4">
        <div class="card">
            <div class="card-header bg-primary ">
                <img src="~/images/bgLogo.png" height="60" width="60" />
                <span>Add New Payment </span>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="AddSchoolPayment">


                    <div class="col-md-10">
                        <div class="form-group">
                            <label>Select Recognition Type</label>
                            <select id="recids" asp-for="ID"
                                    class="form-control"
                                    asp-items="@(new SelectList(@ViewBag.RecognitionList,"Id", "RecognitionTypeName"))">
                            </select>
                        </div>
                    </div>








                    section for general recognition
                    <div id="GR">


                        <div class="col-md-10">
                            <div class="form-group">

                                <label>Select PIN</label>

                                <select class="form-control" id="pinidsGR"></select>


                            </div>
                        </div>



                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="Amount" class="control-label"></label>
                                <input asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="ReceiptNo" class="control-label"></label>
                                <input asp-for="ReceiptNo" class="form-control" />
                                <span asp-validation-for="ReceiptNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="PhoneNo" class="control-label"></label>
                                <input asp-for="PhoneNo" class="form-control" />
                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="ReceiptImage" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="ReceiptImage" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                @*<span asp-validation-for="ReceiptImage" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>




                    <div id="SR">

                        <div class="col-md-10">
                            <div class="form-group">

                                <label>Select PIN</label>
                                <select class="form-control" id="pinidsSR"></select>
                            </div>

                        </div>

                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="CenterNo" class="control-label"></label>
                                <input asp-for="CenterNo" class="form-control" />
                                <span asp-validation-for="CenterNo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="SchoolName" class="control-label"></label>
                                <input asp-for="SchoolName" class="form-control" disabled="disabled" autocomplete="off" id="schoolnamesr" />
                                <span asp-validation-for="SchoolName" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="Amount" class="control-label"></label>
                                <input asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="ReceiptNo" class="control-label"></label>
                                <input asp-for="ReceiptNo" class="form-control" />
                                <span asp-validation-for="ReceiptNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="PhoneNo" class="control-label"></label>
                                <input asp-for="PhoneNo" class="form-control" />
                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="ReceiptImage" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="ReceiptImage" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                        <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>








@section Scripts
{
    <script type="text/javascript">

    $(function () {
         console.log("Check JS");
        loadGR();

        $(".custom-file-input").on('change', function () {
            var filename = $(this).val().split('\\').pop();
            $(this).next(".custom-file-label").html(filename)
        });
        //hide this section on loading but load #GR section
        $('#SR').hide();



        function loadGR() {
            var options = {};
            const baseUrl =@Url.Content("~/api/recognitiontypes/");
            var url = baseUrl + 'GetRecognitionTypes'
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                data.forEach(function (element) {
                    $("#recid").append("<option>"
                        + element.RecognitionTypeID + "</option>");
                });
            };
            options.error = function () {
                $("#msg").html("Error while calling the Web API!");
            };
        }
    });

    </script>
}





