@model OfficesViewDto
@{
    ViewData["Title"] = Model.OfficeName +  " - Office Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Offices" asp-action="Index">Manage Offices</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Office Details</h3>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-md table-borderless">
                        <tbody style="font-size:16px">
                            <tr>
                                <td>
                                    <dl>
                                        <dt>Office</dt>
                                        <dd>@Model.OfficeName</dd>
                                    </dl>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dl>
                                        <dt>Address</dt>
                                        <dd>@Model.OfficeAddress</dd>
                                    </dl>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->


