@model IEnumerable<OfficeStatesViewDto>

<h4 class="mt-3" style="font-weight: 100;">States Controlled:</h4>
<table id="datatable-1" class="table table-bordered table-striped" role="grid" aria-describedby="example1_info">
    <thead>
        <tr role="row">
            <td>State Code</td>
            <td>State</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr role="row">
                <td>@item.StateCode</td>
                <td>@item.StateName</td>
                <td class="text-center p-1">

                    <a asp-controller="OfficeStates" asp-action="Delete" asp-route-id="@item.Id " class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="fas fa-trash"></i>
                        @*Generate Pins*@
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
<script src="~/lib/datatables/datatables.min.js"></script>
<script>
        $(document).ready( function () {
            $('#datatable-1').DataTable({
                responsive: true,
                "order": [[ 0, "desc" ]]
            });
        } );
</script>
<script type="text/javascript" src="~/js/linkClick.js"></script>
