

@model SchoolClassesDto

@{
    ViewData["Title"] = "Create School Class";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
@*@section styles{



    }*@



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="SchoolCategories" asp-action="Index">Manage School Classes</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">New School Class</h3>
                </div>
                <div class="card-body">

                    <small class="text-muted mt-1 mb-2">All fields marked <b class="text-danger">*</b> are required!</small>

                    <form asp-action="Create" method="post">

                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                        <div class="row">

                            <div class="col-md-12">

                                @*<div class="form-group">
                                    <label asp-for="Name">*Name:</label>
                                    <input minlength="2" maxlength="50" asp-for="Name" class="form-control" placeholder="Enter School Class Name" required>
                                </div>*@

                            </div>


                            

                        </div>






                        <!-- /.col -->
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fa fa-spinner fa-spin" id="loading_icon" style="display:none"></i>
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary btn-lg"> Reset</button>

                        <!-- /.col -->

                    </form>


                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->






@section Scripts {


    <script>
        $(document).ready(function () {
            $('select.form-control').select2({
                theme: 'bootstrap4'
            });

        });</script>

    <script>

        $.validator.addMethod("valueNotEquals", function (value, element, arg) {
            return arg !== value;
        }, "Select a valid value!");
        $("form").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2,
                    maxlength: 50
                },
               


            },
            messages: {
                Name: {
                    required: "This field is required!",
                    minlength: "This field must have at least 5 characters!",
                    maxlength: "This field must have less than 50 characters!",
                },
                

            }
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}