
@{
    ViewData["Title"] = "Manage Locations";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Manage Locations</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <!-- small card -->
                            <a href="" class="small-box bg-light">
                                <div class="inner">
                                    <h3 class="mb-5" style="font-weight:200">Location Types</h3>

                                </div>
                                <div class="icon">
                                    <i class="fas fa-street-view"></i>
                                </div>
                                @*<span class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </span>*@
                            </a>
                        </div>

                        <!-- ./col -->
                        <div class="col-12">
                            <!-- small card -->
                            <a asp-controller="States"  asp-action="index" class="small-box bg-light">
                                <div class="inner">
                                    <h3 class="mb-5" style="font-weight:200">States</h3>

                                </div>
                                <div class="icon">
                                    <i class="fas fa-globe-africa"></i>
                                </div>
                                @*<span class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </span>*@
                            </a>
                        </div>
                        <!-- ./col -->
                        <div class="col-12">
                            <!-- small card -->
                            <a href="" class="small-box bg-light">
                                <div class="inner">
                                    <h3 class="mb-5" style="font-weight:200">Local Governments</h3>

                                </div>
                                <div class="icon">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                                @*<span class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </span>*@
                            </a>
                        </div>
                        <!-- ./col -->
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



</section>
<!-- /.content -->



