@model SchoolCategorysCreateDto

@{
    ViewData["Title"] = "Create School / Categories";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <p class="text-primary breadcrumb-item active">

                    @ViewData["Title"]

                </p>
            </div>
            <div class="col-sm-6">
                <a type="button" class="btn btn-primary float-sm-right" asp-action="Index" asp-controller="SchoolCategories">
                    View Schools
                </a>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content ml-5">
    @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" method="post" asp-controller="SchoolCategories">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</section>



<script type="text/javascript" src="~/js/linkClick.js"></script>
