@model SchoolPaymentsCreateDto

<hr />
<h5 style="font-weight: 100">Centre Information</h5>


<div class="row">

    <div class="col-md-4">


        <div class="form-group">
            <label asp-for="CentreNo" class="control-label">*Centre Number</label>
            <input minlength="7" maxlength="7" asp-for="CentreNo" class="form-control" placeholder="Enter Centre Number" autocomplete="off" />
            <span asp-validation-for="CentreNo" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-8">


        <div class="form-group">
            <label for="schoolName">School Name</label>
            <input name="schoolName" id="schoolName" class="form-control" readonly />
        </div>


    </div>

</div>

<script>
        $(function () {
            $('#CentreNo').change(function () {

                var _value = $('#CentreNo').val();

                var _url = '@Url.Action("ValidateCentreNo")'

                console.log(_value);
                if (_value.length === 7) {

                    console.log(_value);

                return $.ajax({
                    type: 'GET',
                    url: _url,
                    data: "centreNo=" + _value,
                    success: function (data) {

                        $('#schoolName').val(data.SchoolName);
                    }
                 });
                }
            });
        });
</script>



<hr />
<script>
    $(document).ready(function () {
        $('select.form-control').select2({
            theme: 'bootstrap4'
        });
        //$('.select2me').select2();

    });
</script>
